.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.auth-box {
  background: white;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-box a {
  text-decoration: none;
  color: #1e3a8a;
  border-color: #1e3a8a;
}
.auth-box a:hover {
  color: #2563eb;
  border-color: #2563eb;
}

.auth-box p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.auth-box p a {
  margin-top: 5px;
}

.auth-box h2 {
  margin-bottom: 1.5rem;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
}

.auth-box .form-group {
  width: 100%;
  max-width: 300px;
  text-align: left;
  margin-bottom: 1rem;
}

.auth-box .form-control {
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.auth-box .btn-primary {
  background-color: #1e3a8a;
  border-color: #1e3a8a;
}

.auth-box .btn {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

/* Icono dentro del input (candado / mail) */
.input-with-icon,
.input-mail-icon {
  position: relative;
}

.input-with-icon .form-control,
.input-mail-icon .form-control {
  padding-left: 35px;
  padding-right: 35px; /* espacio para ícono derecho (ojo) */
}

.input-with-icon .icon,
.input-mail-icon .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  z-index: 2;
}

/* Botón para mostrar u ocultar la contraseña */
.toggle-password-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #1e3a8a;
  font-size: 1rem;
  cursor: pointer;
  z-index: 3;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
